<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="container">
        <div class="row">
            <h1>welcome to routing and navigation</h1>
        </div>
        <div class="row">
            <!-- <a routerLink="/">Home</a>
            <a [routerLink]="['dept',1]">User</a>
            <a [routerLink]="['user',2]">User1</a>
            <a routerLink="dept" routerLinkActive="active">department</a>-->
            <a routerLink="home">Home</a>
            <a routerLink="employee">Employee</a>
            <a routerLink="admin">Admin</a>
        </div>
    </div>
    <router-outlet></router-outlet>


</body>
<!--<div class="row">
            <nav>
                <a routerLink="employee" routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact:true}">Employee</a>
                <a routerLink="dept" routerLinkActive="active">department</a>
            </nav>
        </div>
    </div>
    <button class="btn btn-primary" (click)="employeePage()">Load Employee</button>
    <router-outlet></router-outlet>-->
<!--<div class="container">
        <div class="row">
            <label for="name">Enter UserName</label>
            <input id="name" type="text" name="Enter UserName" placeholder="Enter Name here" />

            <button class="btn btn-success" id="date">Click me</button>
            <hr>
            <h1>Main App component</h1>
            <hr>
            <app-login></app-login>
            <app-home></app-home>
            <hr>
            <app-admin></app-admin>
            <app-admin></app-admin>
            <hr>
            <app-success-alert></app-success-alert>
            <hr>
            <app-warning-alert></app-warning-alert>

        </div>
    </div>
    till up line commented
    <app-header (dataemitier)=messagefromheader($event)></app-header>
    <app-admin [adminname]="name" [nameone]="testdata" [admincontent]="admincon"
    (incrementData)="AddIncrement($event)">
    <app-admin (incrementData)="AddIncrement($event)" (decrementData)="AddDecrement($event)">
        <h3 #contentparagraph>This is ngcontent data</h3>
    </app-admin>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 appBasicHighlight>Before ending shoplist</h1>
                <h1 betterhighlight>This another better approach for Directive</h1>
                <button (click)="onlyOdd()">OddNumbers</button>
                <div *ngIf="toggleelement">

                    <p *ngFor="let odd of oddNumbers" [ngClass]="{odd:odd%2!==0}">{{odd}}</p>
                </div>
                <div *ngIf="!toggleelement">
                    <p *ngFor="let odd of evenNumbers" [ngClass]="{even:odd%2==0}" [ngStyle]="{backgroundColor:'yellow'}">{{odd}}</p>

                </div>
                <app-cockpit (childevent)="message=$event" [parentDataname]="name"></app-cockpit>
                <h1>Full name is{{fullname}}</h1>
                <h1>{{message}}</h1>
                <app-recipes *ngIf="datafromheader==='recipe'"></app-recipes>
                <app-shopping-list></app-shopping-list>
                <app-shopping-list *ngIf="datafromheader!=='recipe'">

                </app-shopping-list>
                <h3>this is event binding from shoplist</h3>
                <p>{{shoplist.shopname}}</p>
                <router-outlet></router-outlet>

            </div>

        </div>
    </div>-->


<!--<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Shoping List</h1>
        </div>
        <div class="col-sm-6">
            <h1>Recipe List</h1>
        </div>
    </div>
</div>-->

</html>
<!--<input type="text" [(ngModel)]="name">
<h1>hello Angular app</h1>
{{name}}-->